<ion-modal-view view-title="NEW DECK">
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-close" ng-click="closeNewDeck()"></button>
        </div>
        <h1 class="title">New Deck</h1>
    </ion-header-bar>
    <ion-content>
        <form novalidate class="simple-form" ng-submit="createDeck()">
            <div class="list">
            </div>
            
            <div class="list">
                <label class="item item-input item-stable">
                    <span class="input-label positive">Deck Name</span>
                    <input type="text" ng-model="deck.name">
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-stable">
                    <span class="input-label positive">Term</span>
                    <input type="text" ng-model="deck.term" class="input-positive">
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-stable">
                    <span class="input-label positive">Sentence</span>
                    <input type="text" ng-model="deck.sentence" class="input-positive">
                </label>
            </div>
            <div class="submitButtonContainer">
                <button class="button button-block button-positive" ng-click="getPhoto()" type="button">
                    Take Photo
                </button>
                <button class="button button-block button-positive" ng-click="getExistingPhoto()"  type="button">
                    Select Photo
                </button>
                <input class="button button-block button-balanced" type="submit">
            </div>
        </form>
        <p>{{cooltext}}</p>
        <ion-spinner ng-show="cooltext.indexOf('Processing...')===0" icon="lines"></ion-spinner>
    </ion-content>
</ion-modal-view>