<ion-view view-title="Playlist">
    <ion-content>
        <div class="flip">
            <div class="twoSides" ng-class="{'flipped':isFlipped}" ng-click="isFlipped=!isFlipped">
                <div class="card front">
                    <div class="item item-text-wrap">
                        Side 1
                    </div>
                </div>
                <div class="card back">
                    <div class="item item-text-wrap">
                        Side 2
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>