.submitButtonContainer {
    padding: 10px;
}

.flashcard .card .keyword{
    color: black;
    border-bottom: 1px solid black;
}

.flashcard.hidden .card .keyword{
    color: white;
    border-bottom: 1px solid black;
}